.header {
    display: flex;
    justify-content: center;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    /*background-color: #aae6ee*/
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.minHeader {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
    border: none;
    height: 65px;
    @media (max-width: 550px) {
        height: 40px;
    }
}