@import '../Common/Styles/Sass/variables';
@import '../Common/Styles/Sass/mixins';

.wrapper {
  display: flex;
  height: 100vh;
  position: relative;
  -webkit-justify-content: center;
  align-items: center;
  background-size: cover;
  z-index: 1;

  &::after {
    position: absolute;
    //background: rgba(0, 0, 0, .4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
  }

  /*background-color: #fff*/
  .container {
    display: flex;
    -webkit-justify-content: space-around;
    align-items: center;

    .text {
      @include text($mainFont, 120px, 900, 1.3);
      color: $imagesTextColor;
      text-transform: capitalize;
      @media (max-width: 1280px) {
        font-size: 80px;
      }
    }
  }
}





