.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #c4fff0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 1px solid;

}
.skillsContainer {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    flex-wrap: wrap;
}
.title {
    margin-top: 70px;
    flex-grow: 1;
}