$textColor:#000;
$backgroundColor:#fff;
$backgroundColor2:#f7f7f7;
$backgroundColorBlack:#0F1113;
$backgroundColorTotalBlack:#000;
$imagesTextColor:#fff;
$textColorGray:#aeaeae;
$mainFont:'Playfair Display', sans-serif;
$headerFont:'Nunito Sans',sans-serif;