.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 1px solid;
}
.NavContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border: 1px solid;
    height: 120px;
}
.title {
    background-color: #b2b2b2;
}
.NavElement {
    width: 20%;
    height: 120px;
    background-color: #b2b2b2;
}
.articleContainer {
    margin-bottom: 40px;
}